html {
    scroll-behavior: smooth;
    /* Background image is commented until all main colors are applied. */
    /* background-image: url('space-4k.jpeg'); */
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #151515;
}

h1 {
    color: deepskyblue;
    font-size: 90px;
    text-align: center;
    vertical-align: 50%;
}

h2 {
    color: white;
    font-size: 55px;
    text-align: center;
    vertical-align: 50%;
}

p {
    color: white;
    font-size: 14px;
}

body {
    opacity: 0;
    transition: opacity 2.25s;
    font-family: "Calibri Light", sans-serif;
}

/* Title text shadow on page load screen. */
.title-shadow {
    text-shadow: 2px 4px 0 #000;
}

.vertical-center {
    width: 100vw;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    text-align: center;
}
